@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  --ghost-white:#F0F2F7;
  --wind-blue:#A4B0CE;
  --manatee:#A7A1AF;
  --little-boy-blue:#71A5DD;
  --persian-blue:#352FC5;
  --raisin-black:#1D1C25;
  --cinnamon-satin:#C26F7A;
  font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

::selection {
  background-color: var(--cinnamon-satin);
  color: var(--ghost-white);
}

